
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>آرشا</title>
</head>
<body>
    <div> 
        شما وارد اکانت خود شده اید. 
        <img src="~/Contents/Themes/blizzard.jpg" />
    </div>
</body>
</html>
