
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>آرشا</title>
</head>
<body>
    <div> 
        کلمه عبور به شماره موبایل شما ارسال گردید. لطفا کمی صبر کنید. 
    </div>
</body>
</html>
